@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0a0a0a] text-gray-100 font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 4px;
}
